# NextAuth
NEXTAUTH_URL=https://urlaubsplaner.me
NEXTAUTH_SECRET=GENERATE_WITH_openssl_rand_-base64_32

# Keycloak
AUTH_KEYCLOAK_ID=urlaubsplaner
AUTH_KEYCLOAK_SECRET=YOUR_KEYCLOAK_CLIENT_SECRET
AUTH_KEYCLOAK_ISSUER=https://auth.samt-con.de/realms/culture-fusion

# Database
DATABASE_URL=postgres://user:password@host:5432/dbname
